<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/home.css" />

    <title>Aplicativo de eventos</title>
</head>
<body>
    <h1>Cadastrar no site</h1>

    <form>
        <label for="nome">Nome</label>
        <input type="nome" name="nome" id="nome" placeholder="Digite o nome">
        <label for="CPF">CPF</label>
        <input type="CPF" name="CPF" id="CPF" placeholder="Digite o CPF">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" placeholder="Digite o e-mail">
        <label for="criarpassword">Criar senha</label>
        <input type="password" name="criarpassword" id="criarpassword" placeholder="Digite a senha">

        <button type="submit">Criar</button>
        <a href="/">Fazer login</a>
</body>
</html>