<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/criar-evento-styles.css" />

    <title>Aplicativo de eventos</title>
</head>

<body>
    <h1><b><i>EVENTOS</i></b></h1>

    <ul>
        <li>
            <strong>Nome:</strong> Evento 01
            <strong>Data:</strong> 01/01/2025
            <strong>Local:</strong> Local 01
            <button type="submit" href="/evento/01">Detalhes</button>
        </li>
    </ul>

    <a href="/criarvento">Criar evento</a>
    <a href="/sair">Sair</a>
</body>

</html>