<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/criar-evento-styles.css" />

    <title>Aplicativo de eventos</title>
</head>

<body>

    <div class="caixa">
        <div class="conteudo">
            <h1 class="titulo">Listagem de eventos</h1>
            <br>
            <br>
            <small>Fique de olho nos eventos que temos
                disponíveis perto de você 👀👀</small>
            <div>
                <ul>
                    <a href="/criareventos">
                        <h2>Criar um evento</h2>
                    </a>
                    <h1><b>Eventos</b></h1>
                    <li>
                        <strong>Nome:</strong> Dj GBR
                        <strong>Data:</strong> 25/12/2024
                        <strong>Local:</strong> Distrito Industrial - GPX
                        <br>
                    </li>
                    <li><strong>Nome:</strong> Simone Mendes
                        <strong>Data:</strong> 26/12/2024
                        <strong>Local:</strong> Distrito Industrial - GPX
                        <br>
                    </li>
                    <li>
                        <strong>Nome:</strong> Jorge & Mateus
                        <strong>Data:</strong> 27/12/2024
                        <strong>Local:</strong> Distrito Industrial - GPX
                        <br>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>