<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/criar-evento-styles.css" />

    <title>Aplicativo de eventos</title>
</head>

<body>
    <h1>Fazer login</h1>
    <form>
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" placeholder="Digite o e-mail">
        <label for="password">Senha</label>
        <input type="password" name="password" id="password" placeholder="Digite a senha">
        <button type="submit">Entrar</button>
        <a href="/criar-conta">Criar uma conta</a>
    </form>
</body>

</html>